---
layout: post
title:  "Counting Rectangle is Fun!"
date:   2022-06-12 20:22:56 +0530
categories: technology
---
<!DOCTYPE html>

{% include custom-head.html %}

<p> Problem: <a href="https://codeforces.com/problemset/problem/372/B">Counting Rectangles is Fun!</a> </p> 

<p> <b> Problem statement </b> Given a boolean matrix and sub-matrix queries. A "good" sub matrix is one which has all 0s. For each query, find how many good sub matrix it contains? </p>

<p> At a first glance (and with my fear with 2D-query problems) this looked like some 2D-segment tree to me. 
	Later after spending sometime realized that this could be solved with the famous same old prefix sum technique. I used standard way to calculate submatrix sum with some modifications(Technique-4).

	What motivated me to write this blog and a 3b1b style animation(cost me a Sunday to learn <a href="https://github.com/3b1b/manim">manim</a>) is learning technique-1. Interestingly, while I was skimming through the 
	<a href="https://codeforces.com/contest/372/status/B">solutions</a>(may be I should do this more often as a practice), I found that most people solved the problem with one of the four techniques explained below.
	
	I only provide a brief few lines gist of the algorithms as this blog is only meant for someone who got interested in the problem decides to solve the problem with little hints. 


<li><b>Technique-1(Foreward DP)</b>: Check tourist's <a href="https://codeforces.com/contest/372/submission/5421838"> solution </a> 

</br></br>

<p> Usually while searching for solutions, I sort codeforces's solution list by time of submission to see how the coders who implemented quickly thought of the problem i.e whether they are using some standard approach that might generalize well with other problems. Here, in this case(no prizes for guessing) the very first solution was from <b>the</b> "tourist". Although the implementation was quite clean the idea did not hit me. 

After spending some time on the <b> foreward dp </b> transformations, I realized the nice geometrical idea involved. Any "good" rectangle is only once added to all the covering rectangles after 4 stages of iterations. 

</br></br>

<a href="https://github.com/3b1b/manim"><b>3b1b</b>-style</a> explainer: </br></br>

<video width="600" height="340" id="myVideo" controls autoplay>
  <source src="{{site.baseurl}}/assets/vid/tourist.mp4" type="video/mp4">
        Your browser does not support the video tag.
</video>

<style>
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
}
</style>

<p>  AC Solution: <a href="https://codeforces.com/contest/372/submission/160228089">link</a><p>
<p>  $$ Complexity: O(n^4)$$</p>

{% include blog1/gencode1.html %}

<li><b>Technique-2(DP sets DP+Inclusion/Exclusion)</b></br> </br>

<p> Basic idea of this approach is to calculate the query in two steps. In first step, $dp_1[i][j][k][l]$ counts all good rectangles in $rect(i,j,k,l)$ with top-left corner $(i,k)$ fixed and bottom right corner $(x,y)$ such that $x<=k \space\&\space y<=l$. In the second iteration, use $dp_2$ to find all good rectangles which end at (x,y) such that $x<=k \space\&\space y<=l$ and start after $(i,k)$. $dp_1$ is needed by $dp_2$ to find the unknown set i.e all good rectangles starting at $(i,k)$ ending anywhere before $(j,l)$.


<p> AC Solution: <a href="https://codeforces.com/contest/372/submission/160231567">link</a><p>
<p>  $$ Complexity: O(n^4)$$</p>

{% include blog1/gencode2.html %}

<li><b>Technique-3 (Inclusion-Exclusion DP) </b>
<p>
Idea: Use inclusion exclusion to find the answer to $dp(i,j,k,l)=dp(i+1,j,k,l) \cup dp(i,j-1,k,l) \cup dp(i,j,k+1,l) \cup dp(i,j,k,l-1)$. </br> 

Expand using <a href="https://en.wikipedia.org/wiki/Inclusion%E2%80%93exclusion_principle">IE</a>
</p>

<p> AC Solution: <a href="https://codeforces.com/contest/372/submission/160229492">link</a><p>
<p>  $$ Complexity: O(n^4)$$ </p>

{% include blog1/gencode3.html %}

<li><b>Technique-4 (Prefix Sum DP)</b>

<p>Idea behind this is simple. Calculate $dp(i,j,k,l)$ using $dp(i,j,k-1,l) \cup dp(i,j,k,l-1)$ and calculate all those good rectangles that end its right corner in $(j,l)$. Calculating the last part becomes easy if we calculate all the zero-towers (col-wise) from a particular cell.  

<p> AC Solution: <a href="https://codeforces.com/contest/372/submission/160230098">link</a><p>
<p> $$ Complexity: O(n^5) $$</p>

{% include blog1/gencode4.html %}

<b>Happy Coding!</b>